.categories {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 980px) {
        max-width: 630px;
        width: 100%;
    }

    li {
        background-color: #f9f9f9;
        padding: 13px 30px;
        border-radius: 30px;
        font-weight: bold;
        transition: background-color 0.1s ease-in-out;
        user-select: none;
        cursor: pointer;
        font-size: 16px;

        @media screen and (max-width: 615px) {
            padding: 10px 20px;
            font-size: 14px;
        }

        &:hover:not(.active) {
            background-color: #f4f4f4;
        }
    }

    .active {
        background-color: #282828;
        color: #fff;
    }
}