.container__cart {
    max-width: 820px;
    margin: 0 auto;
}

.content {
    height: calc(100vh - 220px);

    &FullHeight {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 615px) {
        height: calc(100vh - 170px);
    }

    &__cart {

        &__top {
            display: flex;
            gap: 30px;
            justify-content: space-between;
            align-items: center;

            &__title {
                display: flex;
                align-items: center;
                gap: 16px;

                h2 {
                    font-weight: 700;
                    font-size: 32px;
                    color: #000000;
                }
            }

            &__clear {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    line-height: 19px;
                    font-size: 18px;
                    color: #B6B6B6;
                }
            }

            .cartIcon {
                width: 29px;
                height: 29px;
                margin-bottom: 1px;

                path {
                    stroke: #3F3F3F;
                }

            }
        }

        &__bottom {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            &__details {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-size: 22px;
                    line-height: 27px;
                    color: #000000;
                }

                .summary {
                    color: #FE5F1E;
                }
            }

            &__buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__back {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    border: 1px solid #D3D3D3;
                    border-radius: 30px;
                    padding: 18px 30px;


                    span {
                        color: #CACACA;
                    }
                }

                &__pay {
                    font-weight: 700;
                    line-height: 19px;
                    font-size: 16px;
                    color: #FFFFFF;
                    border-radius: 30px;
                    padding: 18px 30px;
                    background-color: #FE5F1E;
                }
            }
        }
    }

    &__items {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.cartEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;


    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            p {
                font-size: 18px;
                line-height: 145%;
                text-align: center;
                color: #777777;

                @media screen and (max-height:730px) {
                    line-height: 110%;
                    font-size: 16px;
                }
            }

            &__title {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        img {
            width: 300px;
            height: 255px;

            @media screen and (max-height:830px) {
                width: 250px;
                height: 195px;
            }

            @media screen and (max-height:830px) {
                width: 250px;
                height: 195px;
            }

            @media screen and (max-height:730px) {
                width: 200px;
                height: 155px;
            }
        }
    }

    &__button {
        padding: 16px 40px;
        background: #282828;
        border: 1px solid #282828;
        border-radius: 30px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        transition: all .15s ease-in-out;

        &:hover {
            background-color: transparent;
            color: #282828;
            border: 1px solid #282828;
        }
    }

}