.content {
    padding-top: 40px;
    padding-bottom: 36px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;

        @media screen and (max-width: 1300px) {
            flex-direction: column;
        }
    }

    &__title {
        padding-top: 32px;
        padding-bottom: 35px;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000000;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 35px;
        row-gap: 60px;
        place-items: center;
    }
}