.inputBlock {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
    padding: 0 16px;

    .searchIcon {
        path {
            fill: #F3F3F3;
        }

        width: 16px;
        height: 16px;
        padding-bottom: 1px;
    }

    .cancelIcon {
        width: 20px;
        height: 20px;
        cursor: pointer;

        path {
            fill: #232323;
        }
    }

    input {
        padding: 10px 16px;
    }

    input,
    input::placeholder {
        font-size: 16px;
    }

    input::placeholder {
        color: grey
    }

    input:focus::placeholder {
        opacity: 0;
    }
}