.inputBlock {
    display: flex;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
    max-width: 200px;
    width: 100%;

    @media screen and (max-width:650px) {
        max-width: 150px;
    }

    input {
        padding: 10px 25px;

        @media screen and (max-width:500px) {
            padding: 8px 15px;
        }
    }

    input,
    input::placeholder {
        font-size: 16px;

        @media screen and (max-width:650px) {
            font-size: 14px;
        }
    }

    input::placeholder {
        opacity: 0.4;
    }

    input:focus::placeholder {
        opacity: 0;
    }
}